#include "windows.h"

#define DLL_MAJOR		1
#define DLL_MINOR		0
#define DLL_BUILD		0
#define DLL_REVISION	1

#define STR(value) #value
#define STRINGIZE(value) STR(value)

#define DLL_VERSION_STR \
	"v" STRINGIZE(DLL_MAJOR) \
	"." STRINGIZE(DLL_MINOR) \
	"." STRINGIZE(DLL_BUILD) \
	"." STRINGIZE(DLL_REVISION)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
	FILEVERSION DLL_MAJOR,DLL_MINOR,DLL_BUILD,DLL_REVISION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Gives you opportunity to run 'GTA: San Andreas' in windowed mode and provides you high-definition mouse fix."
            VALUE "LegalCopyright", "Copyright (C) 2014 bartekdvd"
            VALUE "OriginalFilename", "dinput8.dll"
            VALUE "ProductName", "Fixes for GTA: San Andreas"
            VALUE "ProductVersion", DLL_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
